.special {
  padding: 60px 15px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
}

.special-list-icon {
  width: 70px;
  height: 70px;
}

.special-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--accent-color);
  text-align: center;
  margin-top: 30px;
}

.special-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.special {
  padding-top: 60px;
  padding-bottom: 60px;

  & .special-list {
    margin: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .special-list-position {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .special-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.special-list-position {
  width: 354px;

  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 30px;
  }

  &:nth-child(odd) {
    margin-right: 30px;
  }
}

.features {
  width: 354px;
  height: 120px;
}

.special-list-title {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .special {
    padding: 94px 215px;
  }

  .special-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features {
    width: 270px;
    height: 120px;
  }

  .special-list-position {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
