:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --hero-color: #ffffff;
  --accent-color-blue: #2196f3;
}
